{% extends 'base.html.twig' %}

{% block title %} Blog Jstore {% endblock %}

{% block body %}

    
    
    <div class="single_article">
        <div class="article-image" style="background-image: url({{article.imageUrl}})">
            {# <img src={{article.imageUrl}} alt="Image de l'article : {{article.imageUrl}}"> #}
        </div>
        <div class="article-details flex">
            <div class="article-author  ">
                <div class="article-author-picture">
                    <img src={{article.author.profile.picture}} alt="Image de profile : {{article.author.fullname}}">
                </div>
            </div>
            <div class="article-content-details">
                <h2 class="article-title" > {{article.title}} </h2>
                <div class="article-createdAt"> {{article.fromNow }} </div>
                <div class="article-categories flex wrap">
                    {% for category in article.categories %}
                        <a href="/category/{{category.slug}}" class="article-category-item badge"> {{ category.name }} ({{category.articles | length}} article(s) publié ) </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        {# Detail contenu article #}
        <div class="content">
            {{article.content}}
        </div>
    
    </div>

{% endblock %}
